<% @attractions.each do |attraction| %>
  <p><%= attraction.name %> : <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %> </p><br>
<% end %>

<% if @user.admin %>
  <p><%= link_to 'New Attraction', new_attraction_path %></p>
<% end %>
