<% @attractions.each do |attraction| %>
  <p><%= attraction.name %> : 
    <% if current_user.admin %>
      <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
    <% else %>
      <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
    <% end %>
  </p>
  <br>
<% end %>


<p><%= link_to 'New Attraction', new_attraction_path %></p>
